*.pyc
*~
*.avi
.idea/
src/deep_learning/allfloorframes/
src/deep_learning/floortype_cpcpfdl-1e-3_061318/
src/deep_learning/testframes/
src/match_seeker/res/may30useddata/
src/match_seeker/res/may30-working
src/match_seeker/res/logs
src/match_seeker/res/kobuki0615
src/match_seeker/res/kobuki060817
src/match_seeker/res/kobuki060817_full
src/match_seeker/res/kobuki0530Pics
src/match_seeker/res/create0614
src/match_seeker/res/create060717
src/match_seeker/res/allFrames060418
src/match_seeker/res/BWmay25Dir
src/match_seeker/res/classifier2019data
src/match_seeker/res/052517
src/match_seeker/res/colorTest
src/match_seeker/res/homesigns
src/match_seeker/res/QRCodes
devel/
build/
